SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
WHATSAPP_NUMBER=244923456789
INSTAGRAM_URL=https://instagram.com/josnunes
FACEBOOK_URL=https://facebook.com/josnunes

# Cloudinary (Obrigatório para hospedar fotos grátis no Render)
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret
